<!DOCTYPE html>
<html ng-app='app'>
<head>
	<title></title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="lib/md5.min.js"></script>
	<script type="text/javascript" src="src/app/app.module.js"></script>
	<script type="text/javascript" src="src/app/app.js"></script>
	 <script src="http://ivaynberg.github.com/select2/select2-3.2/select2.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	</script>
</head>
<body ng-controller="AppCtrl">
	<div class="modal fade" id="addusermodal">
	  <div class="modal-dialog">
	    <form class="modal-content" ng-submit="addUser(newusermail)">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      </div>
	      <div class="modal-body">
	        <p ng-class="{'has-error' : invalidUser(newusermail) && !fetchingNewUser}">
	        	<label class="control-label">Zadejte email nového uživatele:</label>
	        	<input ng-model="newusermail" type="email" required class="form-control" id="newEmail">
	        	<label class="control-label" ng-show="invalidUser(newusermail) === 'user-exists' && !fetchingNewUser">Uživatel existuje</label>
	        </p>
	      </div>
	      <div class="modal-footer">
	        <button class="btn btn-primary" ng-class="{disabled : fetchingNewUser || invalidUser(newusermail)}">Přidat uživatele</button>
	      </div>
	    </form><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<div class="overlay" ng-class="{open : !!distributionOpened}">
		<div class="container distribution" style="background-color:white;height:100%;overflow-y:auto">
			<h1 class="page-header">Rozdělení</h1>
			<div class="row" ng-repeat="user in users">
				<div class="col-sm-4">
					<img ng-src="{{user.img_src()}}" style="width:64px;border-color:{{user.color()}}" class="img-circle" tooltip="{{user.name()}}">
				</div>
				<div class="col-sm-4">
					<i class="glyphicon glyphicon-arrow-right big-arrow"></i><br>
					<span>450,-</span>
				</div>
				<div class="col-sm-4">
					<img ng-src="{{user.img_src()}}" style="width:64px;border-color:{{user.color()}}" class="img-circle" tooltip="{{user.name()}}">
				</div>
			</div>
		</div>
		<div class="overlay-btn">
			<div class="progress">
				<div class="progress-bar" style="width:{{100*(items.sumForUser(user)/items.totalSum())}}%;background-color:{{user.color()}}" ng-repeat="user in users">
				</div>
			</div>
			<button class="btn btn-default distribution-toggle" ng-click="distributionOpened=!distributionOpened">
				<span ng-show="!distributionOpened">
					<i class="glyphicon glyphicon-chevron-down"></i>
					Zobrazit rozdělení 
					<i class="glyphicon glyphicon-chevron-down"></i>
				</span>
				<span ng-hide="!distributionOpened">
					<i class="glyphicon glyphicon-chevron-up"></i>
					Skrýt rozdělení 
					<i class="glyphicon glyphicon-chevron-up"></i>
				</span>
			</button>
		</div>
	</div>

	<div class="container main" ng-class="{'shifted' : (showMenu && !desktopWidth)}">
		<div class="menu pull-right" style="max-height:{{menuHeight}}px">
			<div>
				<div class="panel panel-default">
					<ul class="nav nav-pills nav-stacked">
						<li ng-click="data.view='all';toggleMenu(false)"><i class="glyphicon-big glyphicon glyphicon-list"> </i></li>
						<li ng-click="data.view='user';data.viewUser=user;toggleMenu(false)" style="background-color:{{user.color()}}" ng-repeat="user in users">
							<img ng-src="{{user.img_src()}}" style="width:64px" class="img-circle" tooltip="{{user.name()}}">
						</li>
						<li>
							<i class="add-user-icon" ng-click="addUserDialog()"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content panel panel-default">
			<div ng-show="users.length == 0">
				<h2 style="text-align:center;margin-top:40px">Než začneme, přidejte uživatele</h2>
				<i class="glyphicon glyphicon-arrow-right" style="font-size:64px;position:absolute;top:80px;right:10px"></i>
			</div>
			<div class="panel-heading head" ng-show="users.length > 0">
				<!-- head for listing -->
				<div ng-show="data.view=='all'">
					<div class="pull-right lead" style="text-align:right">
						<span class="label label-info">{{items.totalSum()}},-</span><span><br><i class="fa fa-ellipsis-v sidemenu-btn visible-xs" style="margin-top: 8px;font-size:42px" ng-click="showMenu = !showMenu"></i></span>
					</div>
					<h2>Všechny položky<br>
					<small>Zbývá rozdělit {{items.getUndistributedItems()}} položku ({{items.getUndistributedPrice()}},-)</small>
					</h2>
				</div>
				<!-- head for user -->
				<div ng-show="data.view=='user'">
					<div class="pull-left" style="border-right:3px solid {{data.viewUser.color()}};margin-right:3px">
						<img ng-src="{{data.viewUser.img_src()}}" style="height:64px">
					</div>
					<div class="pull-right lead" style="text-align:right">
							<span class="label label-info">{{items.sumForUser(data.viewUser)|format}},-</span><span><br><i class="fa fa-ellipsis-v sidemenu-btn visible-xs" style="margin-top: 8px;font-size:42px" ng-click="showMenu = !showMenu"></i></span>
						</div>
						<h2>Přiřazeno uživateli {{data.viewUser.name()}}<br>
						<small>Přiřazeny {{items.assignedToUser(data.viewUser).length}} položky, platil ({{items.totalPaiedByUser(data.viewUser)}},-)</small>
						</h2>
				</div>
			</div>
			<div class="panel-body" style="height:{{panelHeight}}px">
				<!-- body for listing -->
				<div ng-show="data.view=='all'">
					<div ng-show="items.length == 0 && users.length > 0">
						<h3 style="text-align:center;color:#666">Zatím nemáte žádnou položku.<br>
						 Přidat mu ji můžete níže</h3>
						<div style="text-align: center;color: #AAA;font-size: 70px;"><i class="glyphicon glyphicon-arrow-down"> </i></div>
	
					</div>
					<div style="border-color:{{item.payer.color()}}" 
						 class="item"
						 ng-class="{expanded : expandedIndex == $index, distributed : item.getUndistributedPrice() == 0}" 
						 ng-repeat="item in items"
						 ng-click="toggleExpand($index)">
						<div class="item-content">
							<div class="pull-right prices">
								{{item.amount}} &times; {{item.price}},-<br>
								<span class="label label-default">{{item.totalPrice()}},-</span>
							</div>
							<strong>{{item.name}}</strong>
						</div>
						<div class="item-content-edit" style="overflow: auto;" >
							<div class="pull-right prices" ng-click="$event.stopPropagation()">
								<div class="input-group" style="width: 206px">
									<input type="text" class="form-control" ng-model="item.amount" style="width:70px"><span class="input-group-addon" style="border-right: 0;border-left: 0;">&times;</span><input type="text" class="form-control" ng-model="item.price" style="width:70px"><span class="input-group-addon">,-</span>
								</div>
							<h5>Celkem: <span class="label label-default label-big">{{item.totalPrice()}},-</span></h5>
							</div>
							<input type="text" class="form-control" ng-model="item.name" style="width:250px" ng-click="$event.stopPropagation()">
						</div>
						<div class="extra" ng-click="$event.stopPropagation()">
							<label>Přiřadit položku:</label>
							<div class="avatars">
								<div class="btn avatar-btn" 
									 style="background-image:url({{user.img_src()}});border-color:{{user.color()}}" 
									 ng-repeat="user in users"
									 ng-class="{unclicked : !item.hasShare(user)}"
									 ng-click="item.toggleShare(user)">
								</div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" 
							     style="width:{{(item.getPriceForUser(user)/item.totalPrice())*100}}%;background-color:{{user.color()}}" 
								 ng-repeat="user in item.getSharers()">
							</div>
						</div>
					</div>
				</div>
				<!-- body for user -->
				<div ng-show="data.view=='user'">
					<div ng-show="items.assignedToUser(data.viewUser).length == 0"><h3 style="text-align:center;color:#666">Tento uživatel ještě nemá přiřazenu žádnou položku.<br>
						 Přidat mu ji můžete níže</h3>
						<div style="text-align: center;color: #AAA;font-size: 70px;"><i class="glyphicon glyphicon-arrow-down"> </i></div>
					</div>
					<div style="border-color:{{item.payer.color()}}" 
						 class="item"
						 ng-class="{distributed : item.getUndistributedPrice() == 0}" 
						 ng-repeat="item in items.assignedToUser(data.viewUser)">
						<div class="item-content" style="overflow:auto;height: 65px;">
							<div class="pull-right prices">
								<div class="input-group" style="width: 400px;">
									<label style="padding-right:5px">Přiřadit počet automaticky <input type="checkbox" ng-init="autoValue=(item.share[data.viewUser.email()]==null)"
														ng-model="autoValue" ng-change="autoEstimateAmount(item, autoValue, data.viewUser)"></label>
									<input type="text" class="form-control" ng-model="item.share[data.viewUser.email()]" placeholder="{{item.getEstimatedShare(data.viewUser)}}" ng-disabled="item.share[data.viewUser.email()]==null" style="width:70px;border-radius: 4px 0 0 4px"><span class="input-group-addon"> &times; {{item.price}},-</span>
								</div>
								<span class="label label-default">{{item.totalPrice()}},-</span>
							</div>
							<i ng-click="confirm('Opravdu zrušit přiřazení') && item.unsetShare(data.viewUser)" class="glyphicon glyphicon-remove-circle" style="color:red" title="Zrušit přiřazení"></i>
							<strong>{{item.name}}</strong>
						</div>
						<div class="progress">
							<div class="progress-bar" 
							     style="width:{{(item.getPriceForUser(user)/item.totalPrice())*100}}%;background-color:{{user.color()}}" 
								 ng-repeat="user in item.getSharers()">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-footer" ng-show="users.length > 0">
				<!-- footer for items listing -->
				<div ng-show="data.view=='all'">
					<form class="row form-inline" ng-show="!itemAddingHidden || desktopWidth" ng-submit="items.addItem(newItemName, newItemAmount, newItemPrice, selectedPayer());newItemName='';newItemAmount='';newItemPrice='';">
						<div class="col-sm-4">
							<label>Název:</label>
							<input type="text"  class="form-control" placeholder="Pizza" ng-model="newItemName" required>
						</div>
						<div class="col-sm-2">
							<label>Počet:</label>
							<div class="input-group">
								<input type="text"  class="form-control" placeholder="2" ng-model="newItemAmount" required>
								<span class="input-group-addon">&times;</span>
							</div>
						</div>
						<div class="col-sm-2">
							<label>Cena za kus:</label>
							<div class="input-group">
								<input type="text"  class="form-control" placeholder="125" ng-model="newItemPrice" required>
								<span class="input-group-addon">,-</span>
							</div>
						</div>
						<div class="col-sm-2">
							<label>Platil:</label>
							<div>
							<div class="btn-group">
								<button type="button" class="btn btn-default " data-toggle="dropdown" 
									style="background-image:url({{selectedPayer().img_src()}});
										  border-left:3px solid {{selectedPayer().color()}};
										  background-size:cover;
										  height:34px;width:34px">
								</button>
								<button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown" >
									<span class="caret"> </span>
								</button>

								 <ul class="dropdown-menu" role="menu" style="bottom:100%;top:auto;min-width:64px">
								 	<li ng-repeat="user in users" class="avatar" 
								 	ng-click="newItem.payerIndex = $index"
								 	style="background-image:url('{{user.img_src()}}');
								 		   border-left:3px solid {{user.color()}}">
								 		
								 	</li>
								 </ul>
							</div>
							</div>
						</div>
						<div class="col-sm-2">
							<label>&nbsp;</label>
							<div>
								<div class="input-group pull-right">
									<button class="btn btn-primary" style="width:100%">
			 							<i class="glyphicon glyphicon-plus"></i>
										Přidat
									</button>
								</div>
								<span class="visible-xs" style="padding-top: 10px;" ng-click="itemAddingHidden=true"><i class="glyphicon glyphicon-chevron-down"></i> Skrýt přidávání položek</span>
							</div>
						</div>
					</form>
				</div>
				<!-- footer for user -->
				<div ng-show="data.view=='user'">
					<form ng-show="!itemAddingHidden || desktopWidth" class="row" ng-submit="assignItem(data.assignItem, data.viewUser, data.assignAmount)">
						<div class="col-sm-4">
							<label>Položka:</label>
							<select ng-model="data.assignItem" ng-options="item.name for item in items.notAssignedToUser(data.viewUser)" class="form-control"></select>

						</div>
						<div class="col-sm-3">
							<label>Množství:</label>
							<input type="number" ng-model="data.assignAmount" class="form-control" placeholder="{{data.assignItem.getFreeDividedShare()||0}}" max="{{data.assignItem.getMaxFreeShare()}}" step="0.01">
						</div>
						<div class="col-sm-2">
							<label>Celkem:</label><br>
							<div style="text-align:center;font-size:16px;position: relative;top: 4px;" class="label label-info">{{(data.assignItem.price*(data.assignAmount||data.assignItem.getFreeDividedShare())||0)|format}},-</div>
						</div>
						<div class="col-sm-3">
							<label>&nbsp;</label>
							<div style="text-align: right;">
								<button class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Přiřadit</button>
							</div>
						</div>

						<span class="visible-xs" style="padding-top: 10px;" ng-click="itemAddingHidden=true"><i class="glyphicon glyphicon-chevron-down"></i> Skrýt přidávání položek</span>
					</form>
				</div>
				<div class="visible-xs">
					<span ng-click="itemAddingHidden=false" ng-show="!!itemAddingHidden"><i class="glyphicon glyphicon-chevron-up"></i> Přidat položku</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>