.progress.navbar-fixed-top{
	border-radius:0;
}

.distribution-toggle {
	width:200px;
	margin: 0 auto;
	display:block;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


.panel-body {
	overflow-y:auto;
	padding: 0;
}

html {
	overflow: hidden;
}

.head {
	padding: 2px 10px;
}

.head h2 {
	margin-top: 4px;
}

.item {
	border-left:5px solid;
	
}

.item .extra, .item .item-content-edit {
	display:none;
}

.item.expanded .extra, .item.expanded .item-content-edit {
	display:block;
}

.item.expanded .item-content {
	display:none;
}

.item.distributed {
	background-color: #f5f5f5;
}

.item.distributed strong {
	color:#999999;
}

.item-content  {
	height:50px;
	padding:5px;
}

.item .extra, .item-content-edit  {
	padding:5px;
}

.item .progress {
	border-radius: 0;
	height:4px;
	margin-bottom: 0;
}

.item .prices {
	text-align: right;
}

.panel-footer .col-sm-2, .panel-footer .col-sm-3, .panel-footer .col-sm-4, .panel-footer .col-sm-1 {
	padding-left: 5px;
	padding-right: 5px;
}

.avatar-btn {
	width:45px;
	height:48px;
	border:0px;
	border-left:4px solid;
	background-size: cover;
	margin-left: 5px;
	margin-bottom: 5px;
}

.avatar-btn.unclicked {
	opacity:0.5;
}

.avatar {
	width:64px;
	height:64px;
	background-size: cover;
}


.main.container {
	-webkit-transition: left 0.5s;
	-moź-transition: left 0.5s;
	transition: left 0.5s;
	position: relative;
	top: 70px;;
}

.content {
	position: relative;
	z-index: 10;
}

.menu {
	direction: ltr;
	position:absolute;
	z-index: 5;
	width:90px;
	right:-88px;
	top:10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.menu > div {
	width: 74px;
}

.menu li {
	opacity: 0.8;
	width: 72px;
	padding: 2px 2px;
	text-align: right;
}

.menu li:hover {
	opacity: 1;
}

.menu li .glyphicon-big {
	padding: 2px 2px;
}

.glyphicon-big {
	font-size: 58px;
}

.container {
	padding:0;
}

.container.shifted {
	left:-90px;
}

.sidemenu-btn {
	margin-top: 8px;
	font-size: 42px;
	margin-bottom: -16px;
	display: block;
}

.add-user-icon {
	background-image: url(adduser.png);
	width:64px;
	height:64px;
	display:inline-block;
	background-size: cover;
}

.loading {
	background-image: url(loading.gif);
	background-size: 100% 100%;
}

.overlay {
	position:absolute;
	top:-55px;
	width:100%;
	height:55px;
	z-index: 1000;
	background: white;
	-moz-transition: height 0.5s;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
	background-color:white;
	padding-top:55px;
}

.overlay.open {
	height:100%;
}

.overlay-btn {
	height:55px;
	position:absolute;
	bottom:-55;
	width: 100%;
}

.overlay-btn .progress {
	margin-bottom: 0;
}

.big-arrow {
	font-size: 48px;
}

.distribution {
	text-align: center;
}

.distribution .page-header {
	text-align: left;
	margin-top: 10px;
}

.distribution .row {
	width: 100%;
	margin: 0;
}


.distribution img {
	border: 4px solid transparent;
}

.nav li {
	cursor:pointer;
}